version: 2

updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      minor:
        patterns: ['*']
        update-types: ['minor', 'patch']
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      minor:
        patterns: ['*']
        update-types: ['minor', 'patch']

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "all"
    groups:
      devcontainers:
        patterns:
          - "*"
